<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="bower_components/ink/css/ink.css"> <!-- For testing only -->

    <style type="text/css">

      /* Ink styles go here in production */

    </style>
    <style type="text/css">

      h1{
        color: #ffffff;
      }

    </style>
  </head>
  <body class="_outlook">
    <table class="body" style="background: #f0f1eb">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container">
              <tr>
                <td>

                <!-- Email Content -->

                  <table class="row">
                    <tr>
                      <td class="wrapper last" style="background: #004454;">

                        <table class="twelve columns">
                          <tr>
                            <td>

                              <h1><%= emailName %></h1>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last" style="background: #ffffff">

                        <table class="twelve columns" style="background: #ffffff">
                          <tr>
                            <td>

                              <img width="580" height="620" src="images/inky.jpg">

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td class="panel">

                              <p>This template is built using Ink. You might wanna start off by <a href="http://zurb.com/ink/docs.php" target="_blank">reading the docs</a> before you dive in.</p>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td>

                              <h2>Hey <%= contactName %>!</h2>
                              <p>Looks like you're building a HTML email. Would you like some help?</p>
                              <p>Only joking, I've installed the <a href="http://zurb.com/ink">Ink</a> framework by the mighty <a href="http://zurb.com/">Zurb</a> to get you on your way. The process is a little wooly at the moment &ndash; I'm working on it &ndash; in the mean time you can follow the process <a href="http://zurb.com/ink/process.php">outlined here</a>.</p>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>


                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="three columns">
                          <tr>
                            <td>

                              <table class="button">
                                <tr>
                                  <td>
                                    <a href="#">banana</a>
                                  </td>
                                </tr>
                              </table>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                  <table class="row">
                    <tr>
                      <td class="wrapper last">

                        <table class="twelve columns">
                          <tr>
                            <td align="center">
                              <center>
                                <p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a></p>
                              </center>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                <!-- END Email Content -->
                </td>
              </tr>
            </table>

          </center>
        </td>
      </tr>
    </table>
  </body>
</html>